{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Hello World 3</h1>
<h2>Feature 1 is finished<h2>
<p>bug is fixed<p>
<p>Feature 2</p>
<p>{{ date|date("d/m/Y") }}</p>
<p>{{ date|ago(locale='fr') }}</p>
{% endblock %}
