{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Hello fail</h1>
<p>Fix bug</p>
<p>{{ date|date("d/m/Y") }}</p>
<p>{{ date|ago(locale='fr') }}</p>
{% endblock %}
